<tbody>
<tr>
<td><span style="display:none">Battaglini, Ernesto</span> <a href="/wiki/Ernesto_Battaglini" title="Ernesto Battaglini">Ernesto Battaglini</a></td>
<td>Avvocato generale</td>
<td>Corte di cassazione</td>
<td><span style="display:none">11953-05-19</span>19&nbsp;maggio&nbsp;1953</td>
<td><span style="display:none">11955-12-15</span>15&nbsp;dicembre&nbsp;1955</td>
<td><span style="display:none">11960-07-03</span>3&nbsp;luglio&nbsp;1960<sup id="cite_ref-morte_9-0" class="reference"><a href="#cite_note-morte-9">[9]</a></sup></td>
<td></td>
<td>
</td></tr>
<tr>
<td><span style="display:none">Papaldo, Antonino</span> <a href="/wiki/Antonino_Papaldo" title="Antonino Papaldo">Antonino Papaldo</a></td>
<td>Magistrato amministrativo</td>
<td>Consiglio di Stato</td>
<td><span style="display:none">11953-03-19</span>19&nbsp;marzo&nbsp;1953</td>
<td><span style="display:none">11955-12-15</span>15&nbsp;dicembre&nbsp;1955</td>
<td><span style="display:none">11967-12-15</span>15&nbsp;dicembre&nbsp;1967</td>
<td></td>
<td>1966 - 1967
</td></tr>
<tr>
<td><span style="display:none">Lampis, Giuseppe</span> <a href="/wiki/Giuseppe_Lampis" title="Giuseppe Lampis">Giuseppe Lampis</a></td>
<td>Magistrato ordinario giudicante</td>
<td>Corte di cassazione</td>
<td><span style="display:none">11953-10-07</span>7&nbsp;ottobre&nbsp;1953</td>
<td><span style="display:none">11955-12-15</span>15&nbsp;dicembre&nbsp;1955</td>
<td><span style="display:none">11956-05-30</span>30&nbsp;maggio&nbsp;1956<sup id="cite_ref-morte_9-1" class="reference"><a href="#cite_note-morte-9">[9]</a></sup></td>
<td></td>
<td>
</td></tr>
<tr>
<td><span style="display:none">Cosatti, Mario</span> <a href="/wiki/Mario_Cosatti" title="Mario Cosatti">Mario Cosatti</a></td>
<td>Magistrato contabile</td>
<td>Corte dei conti</td>
<td><span style="display:none">11954-05-15</span>15&nbsp;maggio&nbsp;1954</td>
<td><span style="display:none">11955-12-15</span>15&nbsp;dicembre&nbsp;1955</td>
<td><span style="display:none">11963-02-04</span>4&nbsp;febbraio&nbsp;1963<sup id="cite_ref-morte_9-2" class="reference"><a href="#cite_note-morte-9">[9]</a></sup></td>
<td></td>
<td>1962 - 1963
</td></tr>
<tr>
<td><span style="display:none">Gabrieli, Francesco Pantaleo</span> <a href="/wiki/Francesco_Pantaleo_Gabrieli" title="Francesco Pantaleo Gabrieli">Francesco Pantaleo Gabrieli</a></td>
<td>Magistrato ordinario giudicante</td>
<td>Corte di cassazione</td>
<td><span style="display:none">11955-11-13</span>13&nbsp;novembre&nbsp;1955</td>
<td><span style="display:none">11955-12-15</span>15&nbsp;dicembre&nbsp;1955</td>
<td><span style="display:none">11962-07-15</span>15&nbsp;luglio&nbsp;1962<sup id="cite_ref-morte_9-3" class="reference"><a href="#cite_note-morte-9">[9]</a></sup></td>
<td></td>
<td>
</td></tr>
<tr>
<td><span style="display:none">Ambrosini, Gaspare</span> <a href="/wiki/Gaspare_Ambrosini" title="Gaspare Ambrosini">Gaspare Ambrosini</a></td>
<td>Professore ordinario</td>
<td>Parlamento in seduta comune</td>
<td><span style="display:none">11955-11-15</span>15&nbsp;novembre&nbsp;1955</td>
<td><span style="display:none">11955-12-15</span>15&nbsp;dicembre&nbsp;1955</td>
<td><span style="display:none">11967-12-15</span>15&nbsp;dicembre&nbsp;1967</td>
<td>1962 - 1967</td>
<td>1961 - 1962
</td></tr>
<tr>
<td><span style="display:none">Bracci, Mario</span> <a href="/wiki/Mario_Bracci" title="Mario Bracci">Mario Bracci</a></td>
<td>Professore ordinario</td>
<td>Parlamento in seduta comune</td>
<td><span style="display:none">11955-11-15</span>15&nbsp;novembre&nbsp;1955</td>
<td><span style="display:none">11955-12-15</span>15&nbsp;dicembre&nbsp;1955</td>
<td><span style="display:none">11959-05-15</span>15&nbsp;maggio&nbsp;1959<sup id="cite_ref-morte_9-4" class="reference"><a href="#cite_note-morte-9">[9]</a></sup></td>
<td></td>
<td>
</td></tr>
<tr>
<td><span style="display:none">Cappi, Giuseppe</span> <a href="/wiki/Giuseppe_Cappi" title="Giuseppe Cappi">Giuseppe Cappi</a></td>
<td>Avvocato</td>
<td>Parlamento in seduta comune</td>
<td><span style="display:none">11955-11-30</span>30&nbsp;novembre&nbsp;1955</td>
<td><span style="display:none">11955-12-15</span>15&nbsp;dicembre&nbsp;1955</td>
<td><span style="display:none">11963-07-12</span>12&nbsp;luglio&nbsp;1963<sup id="cite_ref-morte_9-5" class="reference"><a href="#cite_note-morte-9">[9]</a></sup></td>
<td>1961 - 1962</td>
<td>1961
</td></tr>
<tr>
<td><span style="display:none">Jaeger, Nicola</span> <a href="/wiki/Nicola_Jaeger" title="Nicola Jaeger">Nicola Jaeger</a></td>
<td>Professore ordinario</td>
<td>Parlamento in seduta comune</td>
<td><span style="display:none">11955-11-30</span>30&nbsp;novembre&nbsp;1955</td>
<td><span style="display:none">11955-12-15</span>15&nbsp;dicembre&nbsp;1955</td>
<td><span style="display:none">11967-12-15</span>15&nbsp;dicembre&nbsp;1967</td>
<td></td>
<td>
</td></tr>
<tr>
<td><span style="display:none">Cassandro, Giovanni</span> <a href="/wiki/Giovanni_Cassandro" title="Giovanni Cassandro">Giovanni Cassandro</a></td>
<td>Professore ordinario</td>
<td>Parlamento in seduta comune</td>
<td><span style="display:none">11955-11-30</span>30&nbsp;novembre&nbsp;1955</td>
<td><span style="display:none">11955-12-15</span>15&nbsp;dicembre&nbsp;1955</td>
<td><span style="display:none">11967-12-15</span>15&nbsp;dicembre&nbsp;1967</td>
<td></td>
<td>
</td></tr>
<tr>
<td><span style="display:none">de Nicola, Enrico</span> <a href="/wiki/Enrico_de_Nicola" class="mw-redirect" title="Enrico de Nicola">Enrico de Nicola</a></td>
<td>Avvocato</td>
<td>Presidente della Repubblica</td>
<td><span style="display:none">11955-12-03</span>3&nbsp;dicembre&nbsp;1955</td>
<td><span style="display:none">11955-12-15</span>15&nbsp;dicembre&nbsp;1955</td>
<td><span style="display:none">11957-03-26</span>26&nbsp;marzo&nbsp;1957<sup id="cite_ref-dimis_10-0" class="reference"><a href="#cite_note-dimis-10">[10]</a></sup></td>
<td>1956 - 1957</td>
<td>
</td></tr>
<tr>
<td><span style="display:none">Azzariti, Gaetano</span> <a href="/wiki/Gaetano_Azzariti" title="Gaetano Azzariti">Gaetano Azzariti</a></td>
<td>Magistrato ordinario giudicante</td>
<td>Presidente della Repubblica</td>
<td><span style="display:none">11955-12-03</span>3&nbsp;dicembre&nbsp;1955</td>
<td><span style="display:none">11955-12-15</span>15&nbsp;dicembre&nbsp;1955</td>
<td><span style="display:none">11961-01-05</span>5&nbsp;gennaio&nbsp;1961<sup id="cite_ref-morte_9-6" class="reference"><a href="#cite_note-morte-9">[9]</a></sup></td>
<td>1957 - 1961</td>
<td>1956 - 1957
</td></tr>
<tr>
<td><span style="display:none">Perassi, Tomaso</span> <a href="/wiki/Tomaso_Perassi" title="Tomaso Perassi">Tomaso Perassi</a></td>
<td>Professore ordinario</td>
<td>Presidente della Repubblica</td>
<td><span style="display:none">11955-12-03</span>3&nbsp;dicembre&nbsp;1955</td>
<td><span style="display:none">11955-12-15</span>15&nbsp;dicembre&nbsp;1955</td>
<td><span style="display:none">11960-11-03</span>3&nbsp;novembre&nbsp;1960<sup id="cite_ref-morte_9-7" class="reference"><a href="#cite_note-morte-9">[9]</a></sup></td>
<td></td>
<td>1957 - 1960
</td></tr>
<tr>
<td><span style="display:none">Capograssi, Giuseppe</span> <a href="/wiki/Giuseppe_Capograssi" title="Giuseppe Capograssi">Giuseppe Capograssi</a></td>
<td>Professore ordinario</td>
<td>Presidente della Repubblica</td>
<td><span style="display:none">11955-12-03</span>3&nbsp;dicembre&nbsp;1955</td>
<td><span style="display:none">11955-12-15</span>15&nbsp;dicembre&nbsp;1955</td>
<td><span style="display:none">11956-04-23</span>23&nbsp;aprile&nbsp;1956<sup id="cite_ref-morte_9-8" class="reference"><a href="#cite_note-morte-9">[9]</a></sup></td>
<td></td>
<td>
</td></tr>
<tr>
<td><span style="display:none">Castelli Avolio, Giuseppe</span> <a href="/wiki/Giuseppe_Castelli_Avolio" title="Giuseppe Castelli Avolio">Giuseppe Castelli Avolio</a></td>
<td>Magistrato amministrativo</td>
<td>Presidente della Repubblica</td>
<td><span style="display:none">11955-12-03</span>3&nbsp;dicembre&nbsp;1955</td>
<td><span style="display:none">11955-12-15</span>15&nbsp;dicembre&nbsp;1955</td>
<td><span style="display:none">11966-07-15</span>15&nbsp;luglio&nbsp;1966<sup id="cite_ref-morte_9-9" class="reference"><a href="#cite_note-morte-9">[9]</a></sup></td>
<td></td>
<td>1963 - 1966
</td></tr>
<tr>
<td><span style="display:none">Petrocelli, Biagio</span> <a href="/wiki/Biagio_Petrocelli" title="Biagio Petrocelli">Biagio Petrocelli</a></td>
<td>Professore ordinario</td>
<td>Presidente della Repubblica</td>
<td><span style="display:none">11956-05-05</span>5&nbsp;maggio&nbsp;1956</td>
<td><span style="display:none">11956-05-09</span>9&nbsp;maggio&nbsp;1956</td>
<td><span style="display:none">11968-05-09</span>9&nbsp;maggio&nbsp;1968</td>
<td></td>
<td>1967 - 1968
</td></tr>
<tr>
<td><span style="display:none">Manca, Antonio</span> <a href="/wiki/Antonio_Manca" title="Antonio Manca">Antonio Manca</a></td>
<td>Magistrato ordinario requirente</td>
<td>Corte di cassazione</td>
<td><span style="display:none">11956-06-23</span>23&nbsp;giugno&nbsp;1956</td>
<td><span style="display:none">11956-07-03</span>3&nbsp;luglio&nbsp;1956</td>
<td><span style="display:none">11968-07-03</span>3&nbsp;luglio&nbsp;1968</td>
<td></td>
<td>
</td></tr>
<tr>
<td><span style="display:none">Sandulli, Aldo Mazzini</span> <a href="/wiki/Aldo_Mazzini_Sandulli" title="Aldo Mazzini Sandulli">Aldo Mazzini Sandulli</a></td>
<td>Professore ordinario</td>
<td>Presidente della Repubblica</td>
<td><span style="display:none">11957-03-30</span>30&nbsp;marzo&nbsp;1957</td>
<td><span style="display:none">11957-04-04</span>4&nbsp;aprile&nbsp;1957</td>
<td><span style="display:none">11969-04-04</span>4&nbsp;aprile&nbsp;1969</td>
<td>1968 - 1969</td>
<td>
</td></tr>
<tr>
<td><span style="display:none">Branca, Giuseppe</span> <a href="/wiki/Giuseppe_Branca" title="Giuseppe Branca">Giuseppe Branca</a></td>
<td>Professore ordinario</td>
<td>Parlamento in seduta comune</td>
<td><span style="display:none">11959-07-02</span>2&nbsp;luglio&nbsp;1959</td>
<td><span style="display:none">11959-07-09</span>9&nbsp;luglio&nbsp;1959</td>
<td><span style="display:none">11971-07-09</span>9&nbsp;luglio&nbsp;1971</td>
<td>1969 - 1971</td>
<td>1968 - 1969
</td></tr>
<tr>
<td><span style="display:none">Fragali, Michele</span> <a href="/wiki/Michele_Fragali" title="Michele Fragali">Michele Fragali</a></td>
<td>Magistrato ordinario giudicante</td>
<td>Corte di cassazione</td>
<td><span style="display:none">11960-07-20</span>20&nbsp;luglio&nbsp;1960</td>
<td><span style="display:none">11960-08-02</span>2&nbsp;agosto&nbsp;1960</td>
<td><span style="display:none">11972-08-02</span>2&nbsp;agosto&nbsp;1972</td>
<td></td>
<td>1969 - 1972
</td></tr>
<tr>
<td><span style="display:none">Mortati, Costantino</span> <a href="/wiki/Costantino_Mortati" title="Costantino Mortati">Costantino Mortati</a></td>
<td>Professore ordinario</td>
<td>Presidente della Repubblica</td>
<td><span style="display:none">11960-12-02</span>2&nbsp;dicembre&nbsp;1960</td>
<td><span style="display:none">11960-12-20</span>20&nbsp;dicembre&nbsp;1960</td>
<td><span style="display:none">11972-12-20</span>20&nbsp;dicembre&nbsp;1972</td>
<td></td>
<td>1972
</td></tr>
<tr>
<td><span style="display:none">Chiarelli, Giuseppe</span> <a href="/wiki/Giuseppe_Chiarelli" title="Giuseppe Chiarelli">Giuseppe Chiarelli</a></td>
<td>Professore ordinario</td>
<td>Presidente della Repubblica</td>
<td><span style="display:none">11961-02-02</span>2&nbsp;febbraio&nbsp;1961</td>
<td><span style="display:none">11961-02-16</span>16&nbsp;febbraio&nbsp;1961</td>
<td><span style="display:none">11973-02-16</span>16&nbsp;febbraio&nbsp;1973</td>
<td>1971 - 1973</td>
<td>
</td></tr>
<tr>
<td><span style="display:none">Verzì, Giuseppe</span> <a href="/wiki/Giuseppe_Verz%C3%AC" title="Giuseppe Verzì">Giuseppe Verzì</a></td>
<td>Magistrato ordinario giudicante</td>
<td>Corte di cassazione</td>
<td><span style="display:none">11962-07-27</span>27&nbsp;luglio&nbsp;1962</td>
<td><span style="display:none">11962-08-01</span>1º&nbsp;agosto&nbsp;1962</td>
<td><span style="display:none">11974-08-01</span>1º&nbsp;agosto&nbsp;1974</td>
<td></td>
<td>1972 - 1974
</td></tr>
<tr>
<td><span style="display:none">Benedetti, Giovanni Battista</span> <a href="/wiki/Giovanni_Battista_Benedetti_(magistrato)" title="Giovanni Battista Benedetti (magistrato)">Giovanni Battista Benedetti</a></td>
<td>Magistrato contabile</td>
<td>Corte dei conti</td>
<td><span style="display:none">11963-02-26</span>26&nbsp;febbraio&nbsp;1963</td>
<td><span style="display:none">11963-07-11</span>11&nbsp;luglio&nbsp;1963</td>
<td><span style="display:none">11975-07-11</span>11&nbsp;luglio&nbsp;1975</td>
<td></td>
<td>1974 - 1975
</td></tr>
<tr>
<td><span style="display:none">Bonifacio, Francesco Paolo</span> <a href="/wiki/Francesco_Paolo_Bonifacio" title="Francesco Paolo Bonifacio">Francesco Paolo Bonifacio</a></td>
<td>Professore ordinario</td>
<td>Parlamento in seduta comune</td>
<td><span style="display:none">11963-10-02</span>2&nbsp;ottobre&nbsp;1963</td>
<td><span style="display:none">11963-10-25</span>25&nbsp;ottobre&nbsp;1963</td>
<td><span style="display:none">11975-10-25</span>25&nbsp;ottobre&nbsp;1975</td>
<td>1973 - 1975</td>
<td>
</td></tr>
<tr>
<td><span style="display:none">Oggioni, Luigi</span> <a href="/wiki/Luigi_Oggioni" title="Luigi Oggioni">Luigi Oggioni</a></td>
<td>Magistrato ordinario giudicante</td>
<td>Presidente della Repubblica</td>
<td><span style="display:none">11966-08-16</span>16&nbsp;agosto&nbsp;1966</td>
<td><span style="display:none">11966-09-29</span>29&nbsp;settembre&nbsp;1966</td>
<td><span style="display:none">11978-09-29</span>29&nbsp;settembre&nbsp;1978</td>
<td></td>
<td>1975 - 1978
</td></tr>
<tr>
<td><span style="display:none">De Marco, Angelo</span> <a href="/wiki/Angelo_De_Marco" title="Angelo De Marco">Angelo De Marco</a></td>
<td>Magistrato amministrativo</td>
<td>Consiglio di Stato</td>
<td><span style="display:none">11967-12-17</span>17&nbsp;dicembre&nbsp;1967</td>
<td><span style="display:none">11968-01-10</span>10&nbsp;gennaio&nbsp;1968</td>
<td><span style="display:none">11977-01-10</span>10&nbsp;gennaio&nbsp;1977</td>
<td></td>
<td>
</td></tr>
<tr>
<td><span style="display:none">Rocchetti, Ercole</span> <a href="/wiki/Ercole_Rocchetti" title="Ercole Rocchetti">Ercole Rocchetti</a></td>
<td>Avvocato</td>
<td>Parlamento in seduta comune</td>
<td><span style="display:none">11967-12-19</span>19&nbsp;dicembre&nbsp;1967</td>
<td><span style="display:none">11968-01-10</span>10&nbsp;gennaio&nbsp;1968</td>
<td><span style="display:none">11977-01-10</span>10&nbsp;gennaio&nbsp;1977</td>
<td></td>
<td>
</td></tr>
<tr>
<td><span style="display:none">Capalozza, Enzo</span> <a href="/wiki/Enzo_Capalozza" title="Enzo Capalozza">Enzo Capalozza</a></td>
<td>Avvocato</td>
<td>Parlamento in seduta comune</td>
<td><span style="display:none">11967-12-19</span>19&nbsp;dicembre&nbsp;1967</td>
<td><span style="display:none">11968-01-10</span>10&nbsp;gennaio&nbsp;1968</td>
<td><span style="display:none">11977-01-10</span>10&nbsp;gennaio&nbsp;1977</td>
<td></td>
<td>
</td></tr>
<tr>
<td><span style="display:none">Trimarchi, Vincenzo</span> <a href="/wiki/Vincenzo_Trimarchi" title="Vincenzo Trimarchi">Vincenzo Trimarchi</a></td>
<td>Professore ordinario</td>
<td>Parlamento in seduta comune</td>
<td><span style="display:none">11967-12-19</span>19&nbsp;dicembre&nbsp;1967</td>
<td><span style="display:none">11968-01-10</span>10&nbsp;gennaio&nbsp;1968</td>
<td><span style="display:none">11977-01-10</span>10&nbsp;gennaio&nbsp;1977</td>
<td></td>
<td>
</td></tr>
<tr>
<td><span style="display:none">Crisafulli, Vezio</span> <a href="/wiki/Vezio_Crisafulli" title="Vezio Crisafulli">Vezio Crisafulli</a></td>
<td>Professore ordinario</td>
<td>Presidente della Repubblica</td>
<td><span style="display:none">11968-05-14</span>14&nbsp;maggio&nbsp;1968</td>
<td><span style="display:none">11968-05-25</span>25&nbsp;maggio&nbsp;1968</td>
<td><span style="display:none">11979-08-02</span>2&nbsp;agosto&nbsp;1979<sup id="cite_ref-proro_11-0" class="reference"><a href="#cite_note-proro-11">[11]</a></sup></td>
<td></td>
<td>
</td></tr>
<tr>
<td><span style="display:none">Reale, Nicola</span> <a href="/wiki/Nicola_Reale" title="Nicola Reale">Nicola Reale</a></td>
<td>Magistrato ordinario requirente</td>
<td>Corte di cassazione</td>
<td><span style="display:none">11968-07-06</span>6&nbsp;luglio&nbsp;1968</td>
<td><span style="display:none">11968-07-18</span>18&nbsp;luglio&nbsp;1968</td>
<td><span style="display:none">11979-08-02</span>2&nbsp;agosto&nbsp;1979<sup id="cite_ref-proro_11-1" class="reference"><a href="#cite_note-proro-11">[11]</a></sup></td>
<td></td>
<td>
</td></tr>
<tr>
<td><span style="display:none">Rossi, Paolo</span> <a href="/wiki/Paolo_Rossi_(politico)" title="Paolo Rossi (politico)">Paolo Rossi</a></td>
<td>Professore ordinario</td>
<td>Presidente della Repubblica</td>
<td><span style="display:none">11969-05-02</span>2&nbsp;maggio&nbsp;1969</td>
<td><span style="display:none">11969-05-09</span>9&nbsp;maggio&nbsp;1969</td>
<td><span style="display:none">11979-08-02</span>2&nbsp;agosto&nbsp;1979<sup id="cite_ref-proro_11-2" class="reference"><a href="#cite_note-proro-11">[11]</a></sup></td>
<td>1975 - 1978</td>
<td>
</td></tr>
<tr>
<td><span style="display:none">Amadei, Leonetto</span> <a href="/wiki/Leonetto_Amadei" title="Leonetto Amadei">Leonetto Amadei</a></td>
<td>Avvocato</td>
<td>Parlamento in seduta comune</td>
<td><span style="display:none">11972-06-27</span>27&nbsp;giugno&nbsp;1972</td>
<td><span style="display:none">11972-06-28</span>28&nbsp;giugno&nbsp;1972</td>
<td><span style="display:none">11981-06-28</span>28&nbsp;giugno&nbsp;1981</td>
<td>1979 - 1981</td>
<td>1978 - 1979
</td></tr>
<tr>
<td><span style="display:none">Gionfrida, Giulio</span> <a href="/wiki/Giulio_Gionfrida" title="Giulio Gionfrida">Giulio Gionfrida</a></td>
<td>Magistrato ordinario giudicante</td>
<td>Corte di cassazione</td>
<td><span style="display:none">11972-10-04</span>4&nbsp;ottobre&nbsp;1972</td>
<td><span style="display:none">11972-10-10</span>10&nbsp;ottobre&nbsp;1972</td>
<td><span style="display:none">11981-10-10</span>10&nbsp;ottobre&nbsp;1981</td>
<td></td>
<td>1979 - 1981
</td></tr>
<tr>
<td><span style="display:none">Volterra, Edoardo</span> <a href="/wiki/Edoardo_Volterra" title="Edoardo Volterra">Edoardo Volterra</a></td>
<td>Professore ordinario</td>
<td>Presidente della Repubblica</td>
<td><span style="display:none">11973-01-05</span>5&nbsp;gennaio&nbsp;1973</td>
<td><span style="display:none">11973-01-23</span>23&nbsp;gennaio&nbsp;1973</td>
<td><span style="display:none">11982-01-23</span>23&nbsp;gennaio&nbsp;1982</td>
<td></td>
<td>1981 - 1982
</td></tr>
<tr>
<td><span style="display:none">Astuti, Guido</span> <a href="/wiki/Guido_Astuti" title="Guido Astuti">Guido Astuti</a></td>
<td>Professore ordinario</td>
<td>Presidente della Repubblica</td>
<td><span style="display:none">11973-02-19</span>19&nbsp;febbraio&nbsp;1973</td>
<td><span style="display:none">11973-02-22</span>22&nbsp;febbraio&nbsp;1973</td>
<td><span style="display:none">11980-10-07</span>7&nbsp;ottobre&nbsp;1980<sup id="cite_ref-morte_9-10" class="reference"><a href="#cite_note-morte-9">[9]</a></sup></td>
<td></td>
<td>
</td></tr>
<tr>
<td><span style="display:none">Rossano, Michele</span> <a href="/wiki/Michele_Rossano" title="Michele Rossano">Michele Rossano</a></td>
<td>Magistrato ordinario requirente</td>
<td>Corte di cassazione</td>
<td><span style="display:none">11974-09-28</span>28&nbsp;settembre&nbsp;1974</td>
<td><span style="display:none">11974-10-03</span>3&nbsp;ottobre&nbsp;1974</td>
<td><span style="display:none">11983-10-03</span>3&nbsp;ottobre&nbsp;1983</td>
<td></td>
<td>
</td></tr>
<tr>
<td><span style="display:none">De Stefano, Antonino</span> <a href="/wiki/Antonino_De_Stefano_(magistrato)" title="Antonino De Stefano (magistrato)">Antonino De Stefano</a></td>
<td>Magistrato contabile</td>
<td>Corte dei conti</td>
<td><span style="display:none">11975-07-12</span>12&nbsp;luglio&nbsp;1975</td>
<td><span style="display:none">11975-07-15</span>15&nbsp;luglio&nbsp;1975</td>
<td><span style="display:none">11984-07-15</span>15&nbsp;luglio&nbsp;1984</td>
<td></td>
<td>1982 - 1984
</td></tr>
<tr>
<td><span style="display:none">Elia, Leopoldo</span> <a href="/wiki/Leopoldo_Elia" title="Leopoldo Elia">Leopoldo Elia</a></td>
<td>Professore ordinario</td>
<td>Parlamento in seduta comune</td>
<td><span style="display:none">11976-04-30</span>30&nbsp;aprile&nbsp;1976</td>
<td><span style="display:none">11976-05-07</span>7&nbsp;maggio&nbsp;1976</td>
<td><span style="display:none">11985-05-07</span>7&nbsp;maggio&nbsp;1985</td>
<td>1981 - 1985</td>
<td>
</td></tr>
<tr>
<td><span style="display:none">Roehrssen, Guglielmo</span> <a href="/wiki/Guglielmo_Roehrssen_(giurista)" title="Guglielmo Roehrssen (giurista)">Guglielmo Roehrssen</a></td>
<td>Magistrato amministrativo</td>
<td>Consiglio di Stato</td>
<td><span style="display:none">11976-12-21</span>21&nbsp;dicembre&nbsp;1976</td>
<td><span style="display:none">11977-01-13</span>13&nbsp;gennaio&nbsp;1977</td>
<td><span style="display:none">11986-01-13</span>13&nbsp;gennaio&nbsp;1986</td>
<td></td>
<td>1984 - 1986
</td></tr>
<tr>
<td><span style="display:none">Reale, Oronzo</span> <a href="/wiki/Oronzo_Reale" title="Oronzo Reale">Oronzo Reale</a></td>
<td>Avvocato</td>
<td>Parlamento in seduta comune</td>
<td><span style="display:none">11977-01-27</span>27&nbsp;gennaio&nbsp;1977</td>
<td><span style="display:none">11977-01-31</span>31&nbsp;gennaio&nbsp;1977</td>
<td><span style="display:none">11986-01-31</span>31&nbsp;gennaio&nbsp;1986</td>
<td></td>
<td>
</td></tr>
<tr>
<td><span style="display:none">Bucciarelli-Ducci, Brunetto</span> <a href="/wiki/Brunetto_Bucciarelli-Ducci" title="Brunetto Bucciarelli-Ducci">Brunetto Bucciarelli-Ducci</a></td>
<td>Magistrato ordinario giudicante</td>
<td>Parlamento in seduta comune</td>
<td><span style="display:none">11977-01-27</span>27&nbsp;gennaio&nbsp;1977</td>
<td><span style="display:none">11977-01-31</span>31&nbsp;gennaio&nbsp;1977</td>
<td><span style="display:none">11986-01-31</span>31&nbsp;gennaio&nbsp;1986</td>
<td></td>
<td>
</td></tr>
<tr>
<td><span style="display:none">Malagugini, Alberto</span> <a href="/wiki/Alberto_Malagugini" title="Alberto Malagugini">Alberto Malagugini</a></td>
<td>Avvocato</td>
<td>Parlamento in seduta comune</td>
<td><span style="display:none">11977-01-27</span>27&nbsp;gennaio&nbsp;1977</td>
<td><span style="display:none">11977-01-31</span>31&nbsp;gennaio&nbsp;1977</td>
<td><span style="display:none">11986-01-31</span>31&nbsp;gennaio&nbsp;1986</td>
<td></td>
<td>
</td></tr>
<tr>
<td><span style="display:none">Paladin, Livio</span> <a href="/wiki/Livio_Paladin" title="Livio Paladin">Livio Paladin</a></td>
<td>Professore ordinario</td>
<td>Presidente della Repubblica</td>
<td><span style="display:none">11977-06-23</span>23&nbsp;giugno&nbsp;1977</td>
<td><span style="display:none">11977-07-01</span>1º&nbsp;luglio&nbsp;1977</td>
<td><span style="display:none">11986-07-01</span>1º&nbsp;luglio&nbsp;1986</td>
<td>1985 - 1986</td>
<td>
</td></tr>
<tr>
<td><span style="display:none">Maccarone, Arnaldo</span> <a href="/wiki/Arnaldo_Maccarone" title="Arnaldo Maccarone">Arnaldo Maccarone</a></td>
<td>Magistrato ordinario giudicante</td>
<td>Corte di cassazione</td>
<td><span style="display:none">11977-07-25</span>25&nbsp;luglio&nbsp;1977</td>
<td><span style="display:none">11977-09-21</span>21&nbsp;settembre&nbsp;1977</td>
<td><span style="display:none">11984-09-20</span>20&nbsp;settembre&nbsp;1984<sup id="cite_ref-morte_9-11" class="reference"><a href="#cite_note-morte-9">[9]</a></sup></td>
<td></td>
<td>
</td></tr>
<tr>
<td><span style="display:none">La Pergola, Antonio</span> <a href="/wiki/Antonio_La_Pergola" title="Antonio La Pergola">Antonio La Pergola</a></td>
<td>Professore ordinario</td>
<td>Presidente della Repubblica</td>
<td><span style="display:none">11978-06-07</span>7&nbsp;giugno&nbsp;1978</td>
<td><span style="display:none">11978-06-14</span>14&nbsp;giugno&nbsp;1978</td>
<td><span style="display:none">11987-06-14</span>14&nbsp;giugno&nbsp;1987</td>
<td>1986 - 1987</td>
<td>1986
</td></tr>
<tr>
<td><span style="display:none">Andrioli, Virgilio</span> <a href="/wiki/Virgilio_Andrioli" title="Virgilio Andrioli">Virgilio Andrioli</a></td>
<td>Professore ordinario</td>
<td>Presidente della Repubblica</td>
<td><span style="display:none">11978-10-11</span>11&nbsp;ottobre&nbsp;1978</td>
<td><span style="display:none">11978-10-26</span>26&nbsp;ottobre&nbsp;1978</td>
<td><span style="display:none">11987-10-26</span>26&nbsp;ottobre&nbsp;1987</td>
<td></td>
<td>1986 - 1987
</td></tr>
<tr>
<td><span style="display:none">Ferrari, Giuseppe</span> <a href="/wiki/Giuseppe_Ferrari_(giurista)" title="Giuseppe Ferrari (giurista)">Giuseppe Ferrari</a></td>
<td>Professore ordinario</td>
<td>Presidente della Repubblica</td>
<td><span style="display:none">11980-10-21</span>21&nbsp;ottobre&nbsp;1980</td>
<td><span style="display:none">11980-11-07</span>7&nbsp;novembre&nbsp;1980</td>
<td><span style="display:none">11987-06-11</span>11&nbsp;giugno&nbsp;1987<sup id="cite_ref-dimis_10-1" class="reference"><a href="#cite_note-dimis-10">[10]</a></sup></td>
<td></td>
<td>
</td></tr>
<tr>
<td><span style="display:none">Saja, Francesco</span> <a href="/wiki/Francesco_Saja" title="Francesco Saja">Francesco Saja</a></td>
<td>Avvocato generale</td>
<td>Corte di cassazione</td>
<td><span style="display:none">11981-10-14</span>14&nbsp;ottobre&nbsp;1981</td>
<td><span style="display:none">11981-10-22</span>22&nbsp;ottobre&nbsp;1981</td>
<td><span style="display:none">11990-10-22</span>22&nbsp;ottobre&nbsp;1990</td>
<td>1987 - 1990</td>
<td>
</td></tr>
<tr>
<td><span style="display:none">Conso, Giovanni</span> <a href="/wiki/Giovanni_Conso" title="Giovanni Conso">Giovanni Conso</a></td>
<td>Professore ordinario</td>
<td>Presidente della Repubblica</td>
<td><span style="display:none">11982-01-25</span>25&nbsp;gennaio&nbsp;1982</td>
<td><span style="display:none">11982-02-03</span>3&nbsp;febbraio&nbsp;1982</td>
<td><span style="display:none">11991-02-03</span>3&nbsp;febbraio&nbsp;1991</td>
<td>1990 - 1991</td>
<td>1987 - 1990
</td></tr>
<tr>
<td><span style="display:none">Gallo, Ettore</span> <a href="/wiki/Ettore_Gallo" title="Ettore Gallo">Ettore Gallo</a></td>
<td>Professore ordinario</td>
<td>Parlamento in seduta comune</td>
<td><span style="display:none">11982-06-30</span>30&nbsp;giugno&nbsp;1982</td>
<td><span style="display:none">11982-07-14</span>14&nbsp;luglio&nbsp;1982</td>
<td><span style="display:none">11991-07-14</span>14&nbsp;luglio&nbsp;1991</td>
<td>1991</td>
<td>
</td></tr>
<tr>
<td><span style="display:none">Corasaniti, Aldo</span> <a href="/wiki/Aldo_Corasaniti" title="Aldo Corasaniti">Aldo Corasaniti</a></td>
<td>Avvocato generale</td>
<td>Corte di cassazione</td>
<td><span style="display:none">11983-10-26</span>26&nbsp;ottobre&nbsp;1983</td>
<td><span style="display:none">11983-11-14</span>14&nbsp;novembre&nbsp;1983</td>
<td><span style="display:none">11992-11-14</span>14&nbsp;novembre&nbsp;1992</td>
<td>1991 - 1992</td>
<td>1991
</td></tr>
<tr>
<td><span style="display:none">Borzellino, Giuseppe</span> <a href="/wiki/Giuseppe_Borzellino" title="Giuseppe Borzellino">Giuseppe Borzellino</a></td>
<td>Magistrato contabile</td>
<td>Corte dei conti</td>
<td><span style="display:none">11984-07-18</span>18&nbsp;luglio&nbsp;1984</td>
<td><span style="display:none">11984-07-24</span>24&nbsp;luglio&nbsp;1984</td>
<td><span style="display:none">11993-07-24</span>24&nbsp;luglio&nbsp;1993</td>
<td></td>
<td>1991 - 1993
</td></tr>
<tr>
<td><span style="display:none">Greco, Francesco</span> <a href="/wiki/Francesco_Greco_(giurista)" title="Francesco Greco (giurista)">Francesco Greco</a></td>
<td>Magistrato ordinario giudicante</td>
<td>Corte di cassazione</td>
<td><span style="display:none">11984-10-11</span>11&nbsp;ottobre&nbsp;1984</td>
<td><span style="display:none">11984-11-13</span>13&nbsp;novembre&nbsp;1984</td>
<td><span style="display:none">11993-11-13</span>13&nbsp;novembre&nbsp;1993</td>
<td></td>
<td>1993
</td></tr>
<tr>
<td><span style="display:none">Dell'Andro, Renato</span> <a href="/wiki/Renato_Dell%27Andro" title="Renato Dell'Andro">Renato Dell'Andro</a></td>
<td>Professore ordinario</td>
<td>Parlamento in seduta comune</td>
<td><span style="display:none">11985-07-23</span>23&nbsp;luglio&nbsp;1985</td>
<td><span style="display:none">11985-07-29</span>29&nbsp;luglio&nbsp;1985</td>
<td><span style="display:none">11990-10-29</span>29&nbsp;ottobre&nbsp;1990<sup id="cite_ref-morte_9-12" class="reference"><a href="#cite_note-morte-9">[9]</a></sup></td>
<td></td>
<td>
</td></tr>
<tr>
<td><span style="display:none">Pescatore, Gabriele</span> <a href="/wiki/Gabriele_Pescatore" title="Gabriele Pescatore">Gabriele Pescatore</a></td>
<td>Magistrato amministrativo</td>
<td>Consiglio di Stato</td>
<td><span style="display:none">11985-12-20</span>20&nbsp;dicembre&nbsp;1985</td>
<td><span style="display:none">11986-01-14</span>14&nbsp;gennaio&nbsp;1986</td>
<td><span style="display:none">11995-01-14</span>14&nbsp;gennaio&nbsp;1995</td>
<td></td>
<td>1993 - 1995
</td></tr>
<tr>
<td><span style="display:none">Spagnoli, Ugo</span> <a href="/wiki/Ugo_Spagnoli" title="Ugo Spagnoli">Ugo Spagnoli</a></td>
<td>Avvocato</td>
<td>Parlamento in seduta comune</td>
<td><span style="display:none">11986-02-06</span>6&nbsp;febbraio&nbsp;1986</td>
<td><span style="display:none">11986-02-25</span>25&nbsp;febbraio&nbsp;1986</td>
<td><span style="display:none">11995-02-25</span>25&nbsp;febbraio&nbsp;1995</td>
<td></td>
<td>1995
</td></tr>
<tr>
<td><span style="display:none">Casavola, Francesco Paolo</span> <a href="/wiki/Francesco_Paolo_Casavola" title="Francesco Paolo Casavola">Francesco Paolo Casavola</a></td>
<td>Professore ordinario</td>
<td>Parlamento in seduta comune</td>
<td><span style="display:none">11986-02-06</span>6&nbsp;febbraio&nbsp;1986</td>
<td><span style="display:none">11986-02-25</span>25&nbsp;febbraio&nbsp;1986</td>
<td><span style="display:none">11995-02-25</span>25&nbsp;febbraio&nbsp;1995</td>
<td>1992 - 1995</td>
<td>
</td></tr>
<tr>
<td><span style="display:none">Baldassarre, Antonio</span> <a href="/wiki/Antonio_Baldassarre" title="Antonio Baldassarre">Antonio Baldassarre</a></td>
<td>Professore ordinario</td>
<td>Presidente della Repubblica</td>
<td><span style="display:none">11986-08-08</span>8&nbsp;agosto&nbsp;1986</td>
<td><span style="display:none">11986-09-08</span>8&nbsp;settembre&nbsp;1986</td>
<td><span style="display:none">11995-09-08</span>8&nbsp;settembre&nbsp;1995</td>
<td>1995</td>
<td>
</td></tr>
<tr>
<td><span style="display:none">Caianiello, Vincenzo</span> <a href="/wiki/Vincenzo_Caianiello" title="Vincenzo Caianiello">Vincenzo Caianiello</a></td>
<td>Magistrato amministrativo</td>
<td>Parlamento in seduta comune</td>
<td><span style="display:none">11986-10-09</span>9&nbsp;ottobre&nbsp;1986</td>
<td><span style="display:none">11986-10-23</span>23&nbsp;ottobre&nbsp;1986</td>
<td><span style="display:none">11995-10-23</span>23&nbsp;ottobre&nbsp;1995</td>
<td>1995</td>
<td>1995
</td></tr>
<tr>
<td><span style="display:none">Ferri, Mauro</span> <a href="/wiki/Mauro_Ferri" title="Mauro Ferri">Mauro Ferri</a></td>
<td>Avvocato</td>
<td>Presidente della Repubblica</td>
<td><span style="display:none">11987-10-27</span>27&nbsp;ottobre&nbsp;1987</td>
<td><span style="display:none">11987-11-03</span>3&nbsp;novembre&nbsp;1987</td>
<td><span style="display:none">11996-11-03</span>3&nbsp;novembre&nbsp;1996</td>
<td>1995 - 1996</td>
<td>1995
</td></tr>
<tr>
<td><span style="display:none">Mengoni, Luigi</span> <a href="/wiki/Luigi_Mengoni" title="Luigi Mengoni">Luigi Mengoni</a></td>
<td>Professore ordinario</td>
<td>Presidente della Repubblica</td>
<td><span style="display:none">11987-10-27</span>27&nbsp;ottobre&nbsp;1987</td>
<td><span style="display:none">11987-11-03</span>3&nbsp;novembre&nbsp;1987</td>
<td><span style="display:none">11996-11-03</span>3&nbsp;novembre&nbsp;1996</td>
<td></td>
<td>1995 - 1996
</td></tr>
<tr>
<td><span style="display:none">Cheli, Enzo</span> <a href="/wiki/Enzo_Cheli" title="Enzo Cheli">Enzo Cheli</a></td>
<td>Professore ordinario</td>
<td>Presidente della Repubblica</td>
<td><span style="display:none">11987-10-27</span>27&nbsp;ottobre&nbsp;1987</td>
<td><span style="display:none">11987-11-03</span>3&nbsp;novembre&nbsp;1987</td>
<td><span style="display:none">11996-11-03</span>3&nbsp;novembre&nbsp;1996</td>
<td></td>
<td>1996
</td></tr>
<tr>
<td><span style="display:none">Granata, Renato</span> <a href="/wiki/Renato_Granata" title="Renato Granata">Renato Granata</a></td>
<td>Magistrato ordinario giudicante</td>
<td>Corte di cassazione</td>
<td><span style="display:none">11990-10-23</span>23&nbsp;ottobre&nbsp;1990</td>
<td><span style="display:none">11990-11-07</span>7&nbsp;novembre&nbsp;1990</td>
<td><span style="display:none">11999-11-07</span>7&nbsp;novembre&nbsp;1999</td>
<td>1996 - 1999</td>
<td>1999
</td></tr>
<tr>
<td><span style="display:none">Vassalli, Giuliano</span> <a href="/wiki/Giuliano_Vassalli" title="Giuliano Vassalli">Giuliano Vassalli</a></td>
<td>Professore ordinario</td>
<td>Presidente della Repubblica</td>
<td><span style="display:none">11991-02-04</span>4&nbsp;febbraio&nbsp;1991</td>
<td><span style="display:none">11991-02-13</span>13&nbsp;febbraio&nbsp;1991</td>
<td><span style="display:none">12000-02-13</span>13&nbsp;febbraio&nbsp;2000</td>
<td>1999 - 2000</td>
<td>1996 - 1999
</td></tr>
<tr>
<td><span style="display:none">Guizzi, Francesco</span> <a href="/wiki/Francesco_Guizzi" title="Francesco Guizzi">Francesco Guizzi</a></td>
<td>Professore ordinario</td>
<td>Parlamento in seduta comune</td>
<td><span style="display:none">11991-11-14</span>14&nbsp;novembre&nbsp;1991</td>
<td><span style="display:none">11991-11-21</span>21&nbsp;novembre&nbsp;1991</td>
<td><span style="display:none">12000-11-21</span>21&nbsp;novembre&nbsp;2000</td>
<td></td>
<td>1999 - 2000
</td></tr>
<tr>
<td><span style="display:none">Mirabelli, Cesare</span> <a href="/wiki/Cesare_Mirabelli" title="Cesare Mirabelli">Cesare Mirabelli</a></td>
<td>Professore ordinario</td>
<td>Parlamento in seduta comune</td>
<td><span style="display:none">11991-11-14</span>14&nbsp;novembre&nbsp;1991</td>
<td><span style="display:none">11991-11-21</span>21&nbsp;novembre&nbsp;1991</td>
<td><span style="display:none">12000-11-21</span>21&nbsp;novembre&nbsp;2000</td>
<td>2000</td>
<td>1999 - 2000
</td></tr>
<tr>
<td><span style="display:none">Santosuosso, Fernando</span> <a href="/wiki/Fernando_Santosuosso" title="Fernando Santosuosso">Fernando Santosuosso</a></td>
<td>Magistrato ordinario giudicante</td>
<td>Corte di cassazione</td>
<td><span style="display:none">11992-11-19</span>19&nbsp;novembre&nbsp;1992</td>
<td><span style="display:none">11992-12-04</span>4&nbsp;dicembre&nbsp;1992</td>
<td><span style="display:none">12001-12-04</span>4&nbsp;dicembre&nbsp;2001</td>
<td></td>
<td>2001
</td></tr>
<tr>
<td><span style="display:none">Vari, Massimo</span> <a href="/wiki/Massimo_Vari" title="Massimo Vari">Massimo Vari</a></td>
<td>Magistrato contabile</td>
<td>Corte dei conti</td>
<td><span style="display:none">11993-07-15</span>15&nbsp;luglio&nbsp;1993</td>
<td><span style="display:none">11993-07-27</span>27&nbsp;luglio&nbsp;1993</td>
<td><span style="display:none">12002-07-27</span>27&nbsp;luglio&nbsp;2002</td>
<td></td>
<td>2001 - 2002
</td></tr>
<tr>
<td><span style="display:none">Ruperto, Cesare</span> <a href="/wiki/Cesare_Ruperto" title="Cesare Ruperto">Cesare Ruperto</a></td>
<td>Magistrato ordinario giudicante</td>
<td>Corte di cassazione</td>
<td><span style="display:none">11993-11-16</span>16&nbsp;novembre&nbsp;1993</td>
<td><span style="display:none">11993-12-02</span>2&nbsp;dicembre&nbsp;1993</td>
<td><span style="display:none">12002-12-02</span>2&nbsp;dicembre&nbsp;2002</td>
<td>2001 - 2002</td>
<td>
</td></tr>
<tr>
<td><span style="display:none">Chieppa, Riccardo</span> <a href="/wiki/Riccardo_Chieppa" title="Riccardo Chieppa">Riccardo Chieppa</a></td>
<td>Magistrato amministrativo</td>
<td>Consiglio di Stato</td>
<td><span style="display:none">11994-12-17</span>17&nbsp;dicembre&nbsp;1994</td>
<td><span style="display:none">11995-01-23</span>23&nbsp;gennaio&nbsp;1995</td>
<td><span style="display:none">12004-01-23</span>23&nbsp;gennaio&nbsp;2004</td>
<td>2002 - 2004</td>
<td>2002
</td></tr>
<tr>
<td><span style="display:none">Zagrebelsky, Gustavo</span> <a href="/wiki/Gustavo_Zagrebelsky" title="Gustavo Zagrebelsky">Gustavo Zagrebelsky</a></td>
<td>Professore ordinario</td>
<td>Presidente della Repubblica</td>
<td><span style="display:none">11995-09-09</span>9&nbsp;settembre&nbsp;1995</td>
<td><span style="display:none">11995-09-13</span>13&nbsp;settembre&nbsp;1995</td>
<td><span style="display:none">12004-09-13</span>13&nbsp;settembre&nbsp;2004</td>
<td>2004</td>
<td>2002 - 2004
</td></tr>
<tr>
<td><span style="display:none">Onida, Valerio</span> <a href="/wiki/Valerio_Onida" title="Valerio Onida">Valerio Onida</a></td>
<td>Professore ordinario</td>
<td>Parlamento in seduta comune</td>
<td><span style="display:none">11996-01-24</span>24&nbsp;gennaio&nbsp;1996</td>
<td><span style="display:none">11996-01-30</span>30&nbsp;gennaio&nbsp;1996</td>
<td><span style="display:none">12005-01-30</span>30&nbsp;gennaio&nbsp;2005</td>
<td>2004 - 2005</td>
<td>2004
</td></tr>
<tr>
<td><span style="display:none">Mezzanotte, Carlo</span> <a href="/wiki/Carlo_Mezzanotte" title="Carlo Mezzanotte">Carlo Mezzanotte</a></td>
<td>Professore ordinario</td>
<td>Parlamento in seduta comune</td>
<td><span style="display:none">11996-01-24</span>24&nbsp;gennaio&nbsp;1996</td>
<td><span style="display:none">11996-01-30</span>30&nbsp;gennaio&nbsp;1996</td>
<td><span style="display:none">12005-01-30</span>30&nbsp;gennaio&nbsp;2005</td>
<td></td>
<td>2004 - 2005
</td></tr>
<tr>
<td><span style="display:none">Contri, Fernanda</span> <a href="/wiki/Fernanda_Contri" title="Fernanda Contri">Fernanda Contri</a></td>
<td>Avvocato</td>
<td>Presidente della Repubblica</td>
<td><span style="display:none">11996-11-04</span>4&nbsp;novembre&nbsp;1996</td>
<td><span style="display:none">11996-11-06</span>6&nbsp;novembre&nbsp;1996</td>
<td><span style="display:none">12005-11-06</span>6&nbsp;novembre&nbsp;2005</td>
<td></td>
<td>2005
</td></tr>
<tr>
<td><span style="display:none">Neppi Modona, Guido</span> <a href="/wiki/Guido_Neppi_Modona" title="Guido Neppi Modona">Guido Neppi Modona</a></td>
<td>Professore ordinario</td>
<td>Presidente della Repubblica</td>
<td><span style="display:none">11996-11-04</span>4&nbsp;novembre&nbsp;1996</td>
<td><span style="display:none">11996-11-06</span>6&nbsp;novembre&nbsp;1996</td>
<td><span style="display:none">12005-11-06</span>6&nbsp;novembre&nbsp;2005</td>
<td></td>
<td>2005
</td></tr>
<tr>
<td><span style="display:none">Capotosti, Piero Alberto</span> <a href="/wiki/Piero_Alberto_Capotosti" title="Piero Alberto Capotosti">Piero Alberto Capotosti</a></td>
<td>Professore ordinario</td>
<td>Presidente della Repubblica</td>
<td><span style="display:none">11996-11-04</span>4&nbsp;novembre&nbsp;1996</td>
<td><span style="display:none">11996-11-06</span>6&nbsp;novembre&nbsp;1996</td>
<td><span style="display:none">12005-11-06</span>6&nbsp;novembre&nbsp;2005</td>
<td>2005</td>
<td>
</td></tr>
<tr>
<td><span style="display:none">Marini, Annibale</span> <a href="/wiki/Annibale_Marini" title="Annibale Marini">Annibale Marini</a></td>
<td>Professore ordinario</td>
<td>Parlamento in seduta comune</td>
<td><span style="display:none">11997-06-18</span>18&nbsp;giugno&nbsp;1997</td>
<td><span style="display:none">11997-07-09</span>9&nbsp;luglio&nbsp;1997</td>
<td><span style="display:none">12006-07-09</span>9&nbsp;luglio&nbsp;2006</td>
<td>2005 - 2006</td>
<td>2005
</td></tr>
<tr>
<td><span style="display:none">Bile, Franco</span> <a href="/wiki/Franco_Bile" title="Franco Bile">Franco Bile</a></td>
<td>Magistrato ordinario giudicante</td>
<td>Corte di cassazione</td>
<td><span style="display:none">11999-10-29</span>29&nbsp;ottobre&nbsp;1999</td>
<td><span style="display:none">11999-11-08</span>8&nbsp;novembre&nbsp;1999</td>
<td><span style="display:none">12008-11-08</span>8&nbsp;novembre&nbsp;2008</td>
<td>2006 - 2008</td>
<td>2005 - 2006
</td></tr>
<tr>
<td><span style="display:none">Flick, Giovanni Maria</span> <a href="/wiki/Giovanni_Maria_Flick" title="Giovanni Maria Flick">Giovanni Maria Flick</a></td>
<td>Professore ordinario</td>
<td>Presidente della Repubblica</td>
<td><span style="display:none">12000-02-14</span>14&nbsp;febbraio&nbsp;2000</td>
<td><span style="display:none">12000-02-18</span>18&nbsp;febbraio&nbsp;2000</td>
<td><span style="display:none">12009-02-18</span>18&nbsp;febbraio&nbsp;2009</td>
<td>2008 - 2009</td>
<td>2005 - 2008
</td></tr>
<tr>
<td><span style="display:none">Amirante, Francesco</span> <a href="/wiki/Francesco_Amirante" title="Francesco Amirante">Francesco Amirante</a></td>
<td>Magistrato ordinario giudicante</td>
<td>Corte di cassazione</td>
<td><span style="display:none">12001-11-23</span>23&nbsp;novembre&nbsp;2001</td>
<td><span style="display:none">12001-12-07</span>7&nbsp;dicembre&nbsp;2001</td>
<td><span style="display:none">12010-12-07</span>7&nbsp;dicembre&nbsp;2010</td>
<td>2009 - 2010</td>
<td>2008 - 2009
</td></tr>
<tr>
<td><span style="display:none">De Siervo, Ugo</span> <a href="/wiki/Ugo_De_Siervo" title="Ugo De Siervo">Ugo De Siervo</a></td>
<td>Professore ordinario</td>
<td>Parlamento in seduta comune</td>
<td><span style="display:none">12002-04-24</span>24&nbsp;aprile&nbsp;2002</td>
<td><span style="display:none">12002-04-29</span>29&nbsp;aprile&nbsp;2002</td>
<td><span style="display:none">12011-04-29</span>29&nbsp;aprile&nbsp;2011</td>
<td>2010 - 2011</td>
<td>2009 - 2010
</td></tr>
<tr>
<td><span style="display:none">Vaccarella, Romano</span> <a href="/wiki/Romano_Vaccarella" title="Romano Vaccarella">Romano Vaccarella</a></td>
<td>Professore ordinario</td>
<td>Parlamento in seduta comune</td>
<td><span style="display:none">12002-04-24</span>24&nbsp;aprile&nbsp;2002</td>
<td><span style="display:none">12002-04-29</span>29&nbsp;aprile&nbsp;2002</td>
<td><span style="display:none">12007-05-04</span>4&nbsp;maggio&nbsp;2007<sup id="cite_ref-dimis_10-2" class="reference"><a href="#cite_note-dimis-10">[10]</a></sup></td>
<td></td>
<td>
</td></tr>
<tr>
<td><span style="display:none">Maddalena, Paolo</span> <a href="/wiki/Paolo_Maddalena" title="Paolo Maddalena">Paolo Maddalena</a></td>
<td>Magistrato contabile</td>
<td>Corte dei conti</td>
<td><span style="display:none">12002-07-19</span>19&nbsp;luglio&nbsp;2002</td>
<td><span style="display:none">12002-07-30</span>30&nbsp;luglio&nbsp;2002</td>
<td><span style="display:none">12011-07-30</span>30&nbsp;luglio&nbsp;2011</td>
<td></td>
<td>2010 - 2011
</td></tr>
<tr>
<td><span style="display:none">Finocchiaro, Alfio</span> <a href="/wiki/Alfio_Finocchiaro" title="Alfio Finocchiaro">Alfio Finocchiaro</a></td>
<td>Magistrato ordinario giudicante</td>
<td>Corte di cassazione</td>
<td><span style="display:none">12002-11-07</span>7&nbsp;novembre&nbsp;2002</td>
<td><span style="display:none">12002-12-05</span>5&nbsp;dicembre&nbsp;2002</td>
<td><span style="display:none">12011-12-05</span>5&nbsp;dicembre&nbsp;2011</td>
<td></td>
<td>2011
</td></tr>
<tr>
<td><span style="display:none">Quaranta, Alfonso</span> <a href="/wiki/Alfonso_Quaranta" title="Alfonso Quaranta">Alfonso Quaranta</a></td>
<td>Magistrato amministrativo</td>
<td>Consiglio di Stato</td>
<td><span style="display:none">12003-12-16</span>16&nbsp;dicembre&nbsp;2003</td>
<td><span style="display:none">12004-01-27</span>27&nbsp;gennaio&nbsp;2004</td>
<td><span style="display:none">12013-01-27</span>27&nbsp;gennaio&nbsp;2013</td>
<td>2011 - 2013</td>
<td>
</td></tr>
<tr>
<td><span style="display:none">Gallo, Franco</span> <a href="/wiki/Franco_Gallo" title="Franco Gallo">Franco Gallo</a></td>
<td>Professore ordinario</td>
<td>Presidente della Repubblica</td>
<td><span style="display:none">12004-09-14</span>14&nbsp;settembre&nbsp;2004</td>
<td><span style="display:none">12004-09-16</span>16&nbsp;settembre&nbsp;2004</td>
<td><span style="display:none">12013-09-16</span>16&nbsp;settembre&nbsp;2013</td>
<td>2013</td>
<td>2011 - 2013
</td></tr>
<tr>
<td><span style="display:none">Mazzella, Luigi</span> <a href="/wiki/Luigi_Mazzella" title="Luigi Mazzella">Luigi Mazzella</a></td>
<td>Avvocato dello Stato</td>
<td>Parlamento in seduta comune</td>
<td><span style="display:none">12005-06-15</span>15&nbsp;giugno&nbsp;2005</td>
<td><span style="display:none">12005-06-28</span>28&nbsp;giugno&nbsp;2005</td>
<td><span style="display:none">12014-06-28</span>28&nbsp;giugno&nbsp;2014</td>
<td></td>
<td>2013 - 2014
</td></tr>
<tr>
<td><span style="display:none">Silvestri, Gaetano</span> <a href="/wiki/Gaetano_Silvestri" title="Gaetano Silvestri">Gaetano Silvestri</a></td>
<td>Professore ordinario</td>
<td>Parlamento in seduta comune</td>
<td><span style="display:none">12005-06-22</span>22&nbsp;giugno&nbsp;2005</td>
<td><span style="display:none">12005-06-28</span>28&nbsp;giugno&nbsp;2005</td>
<td><span style="display:none">12014-06-28</span>28&nbsp;giugno&nbsp;2014</td>
<td>2013 - 2014</td>
<td>
</td></tr>
<tr>
<td><span style="display:none">Saulle, Maria Rita</span> <a href="/wiki/Maria_Rita_Saulle" title="Maria Rita Saulle">Maria Rita Saulle</a></td>
<td>Professore ordinario</td>
<td>Presidente della Repubblica</td>
<td><span style="display:none">12005-11-04</span>4&nbsp;novembre&nbsp;2005</td>
<td><span style="display:none">12005-11-09</span>9&nbsp;novembre&nbsp;2005</td>
<td><span style="display:none">12011-07-07</span>7&nbsp;luglio&nbsp;2011<sup id="cite_ref-morte_9-13" class="reference"><a href="#cite_note-morte-9">[9]</a></sup></td>
<td></td>
<td>
</td></tr>
<tr>
<td><span style="display:none">Cassese, Sabino</span> <a href="/wiki/Sabino_Cassese" title="Sabino Cassese">Sabino Cassese</a></td>
<td>Professore ordinario</td>
<td>Presidente della Repubblica</td>
<td><span style="display:none">12005-11-04</span>4&nbsp;novembre&nbsp;2005</td>
<td><span style="display:none">12005-11-09</span>9&nbsp;novembre&nbsp;2005</td>
<td><span style="display:none">12014-11-09</span>9&nbsp;novembre&nbsp;2014</td>
<td></td>
<td>
</td></tr>
<tr>
<td><span style="display:none">Tesauro, Giuseppe</span> <a href="/wiki/Giuseppe_Tesauro" title="Giuseppe Tesauro">Giuseppe Tesauro</a></td>
<td>Professore ordinario</td>
<td>Presidente della Repubblica</td>
<td><span style="display:none">12005-11-04</span>4&nbsp;novembre&nbsp;2005</td>
<td><span style="display:none">12005-11-09</span>9&nbsp;novembre&nbsp;2005</td>
<td><span style="display:none">12014-11-09</span>9&nbsp;novembre&nbsp;2014</td>
<td>2014</td>
<td>
</td></tr>
<tr>
<td><span style="display:none">Napolitano, Paolo Maria</span> <a href="/wiki/Paolo_Maria_Napolitano" title="Paolo Maria Napolitano">Paolo Maria Napolitano</a></td>
<td>Magistrato amministrativo</td>
<td>Parlamento in seduta comune</td>
<td><span style="display:none">12006-07-05</span>5&nbsp;luglio&nbsp;2006</td>
<td><span style="display:none">12006-07-10</span>10&nbsp;luglio&nbsp;2006</td>
<td>10 luglio 2015</td>
<td></td>
<td>2014
</td></tr>
<tr>
<td><span style="display:none">Frigo, Giuseppe</span> <a href="/wiki/Giuseppe_Frigo" title="Giuseppe Frigo">Giuseppe Frigo</a></td>
<td>Avvocato</td>
<td>Parlamento in seduta comune</td>
<td><span style="display:none">12008-10-21</span>21&nbsp;ottobre&nbsp;2008</td>
<td><span style="display:none">12008-10-23</span>23&nbsp;ottobre&nbsp;2008</td>
<td><span style="display:none">12016-11-07</span>7&nbsp;novembre&nbsp;2016<sup id="cite_ref-dimis_10-3" class="reference"><a href="#cite_note-dimis-10">[10]</a></sup></td>
<td></td>
<td>
</td></tr>
<tr>
<td><span style="display:none">Criscuolo, Alessandro</span> <a href="/wiki/Alessandro_Criscuolo" title="Alessandro Criscuolo">Alessandro Criscuolo</a></td>
<td>Magistrato ordinario giudicante</td>
<td>Corte di cassazione</td>
<td><span style="display:none">12008-10-28</span>28&nbsp;ottobre&nbsp;2008</td>
<td><span style="display:none">12008-11-11</span>11&nbsp;novembre&nbsp;2008</td>
<td><span style="display:none">12017-11-11</span>11&nbsp;novembre&nbsp;2017</td>
<td>2014 - 2016</td>
<td>
</td></tr>
<tr>
<td><span style="display:none">Grossi, Paolo</span> <a href="/wiki/Paolo_Grossi" title="Paolo Grossi">Paolo Grossi</a></td>
<td>Professore ordinario</td>
<td>Presidente della Repubblica</td>
<td><span style="display:none">12009-02-17</span>17&nbsp;febbraio&nbsp;2009</td>
<td><span style="display:none">12009-02-23</span>23&nbsp;febbraio&nbsp;2009</td>
<td><span style="display:none">12018-02-23</span>23&nbsp;febbraio&nbsp;2018</td>
<td>2016 - 2018</td>
<td>
</td></tr>
<tr>
<td><b><span style="display:none">Lattanzi, Giorgio</span> <a href="/wiki/Giorgio_Lattanzi" title="Giorgio Lattanzi">Giorgio Lattanzi</a></b></td>
<td>Magistrato ordinario giudicante</td>
<td>Corte di cassazione</td>
<td><span style="display:none">12010-11-19</span>19&nbsp;novembre&nbsp;2010</td>
<td><span style="display:none">12010-12-09</span>9&nbsp;dicembre&nbsp;2010</td>
<td></td>
<td>2018-</td>
<td>2014 - 2018
</td></tr>
<tr>
<td><b><span style="display:none">Carosi, Aldo</span> <a href="/wiki/Aldo_Carosi" title="Aldo Carosi">Aldo Carosi</a></b></td>
<td>Magistrato contabile</td>
<td>Corte dei conti</td>
<td><span style="display:none">12011-07-17</span>17&nbsp;luglio&nbsp;2011</td>
<td><span style="display:none">12011-09-13</span>13&nbsp;settembre&nbsp;2011</td>
<td></td>
<td></td>
<td>2016 -
</td></tr>
<tr>
<td><b><span style="display:none">Cartabia, Marta</span> <a href="/wiki/Marta_Cartabia" title="Marta Cartabia">Marta Cartabia</a></b></td>
<td>Professore ordinario</td>
<td>Presidente della Repubblica</td>
<td><span style="display:none">12011-09-02</span>2&nbsp;settembre&nbsp;2011</td>
<td><span style="display:none">12011-09-13</span>13&nbsp;settembre&nbsp;2011</td>
<td></td>
<td></td>
<td>2014 -
</td></tr>
<tr>
<td><span style="display:none">Mattarella, Sergio</span> <a href="/wiki/Sergio_Mattarella" title="Sergio Mattarella">Sergio Mattarella</a></td>
<td>Avvocato</td>
<td>Parlamento in seduta comune</td>
<td><span style="display:none">12011-10-05</span>5&nbsp;ottobre&nbsp;2011</td>
<td><span style="display:none">12011-10-11</span>11&nbsp;ottobre&nbsp;2011</td>
<td><span style="display:none">12015-02-02</span>2&nbsp;febbraio&nbsp;2015<sup id="cite_ref-12" class="reference"><a href="#cite_note-12">[12]</a></sup></td>
<td></td>
<td>
</td></tr>
<tr>
<td><b><span style="display:none">Morelli, Mario Rosario</span> <a href="/wiki/Mario_Rosario_Morelli" title="Mario Rosario Morelli">Mario Rosario Morelli</a></b></td>
<td>Magistrato ordinario giudicante</td>
<td>Corte di cassazione</td>
<td><span style="display:none">12011-11-18</span>18&nbsp;novembre&nbsp;2011</td>
<td><span style="display:none">12011-12-12</span>12&nbsp;dicembre&nbsp;2011</td>
<td></td>
<td></td>
<td>2018 -
</td></tr>
<tr>
<td><b><span style="display:none">Coraggio, Giancarlo</span> <a href="/wiki/Giancarlo_Coraggio" title="Giancarlo Coraggio">Giancarlo Coraggio</a></b></td>
<td>Magistrato amministrativo</td>
<td>Consiglio di Stato</td>
<td><span style="display:none">12012-11-29</span>29&nbsp;novembre&nbsp;2012</td>
<td><span style="display:none">12013-01-28</span>28&nbsp;gennaio&nbsp;2013</td>
<td></td>
<td></td>
<td>
</td></tr>
<tr>
<td><b><span style="display:none">Amato, Giuliano</span> <a href="/wiki/Giuliano_Amato" title="Giuliano Amato">Giuliano Amato</a></b></td>
<td>Professore ordinario</td>
<td>Presidente della Repubblica</td>
<td><span style="display:none">12013-09-12</span>12&nbsp;settembre&nbsp;2013</td>
<td><span style="display:none">12013-09-18</span>18&nbsp;settembre&nbsp;2013</td>
<td></td>
<td></td>
<td>
</td></tr>
<tr>
<td><b><span style="display:none">de Pretis, Daria</span> <a href="/wiki/Daria_de_Pretis" title="Daria de Pretis">Daria de Pretis</a></b></td>
<td>Professore ordinario</td>
<td>Presidente della Repubblica</td>
<td><span style="display:none">12014-10-18</span>18&nbsp;ottobre&nbsp;2014</td>
<td><span style="display:none">12014-11-11</span>11&nbsp;novembre&nbsp;2014</td>
<td></td>
<td></td>
<td>
</td></tr>
<tr>
<td><b><span style="display:none">Zanon, Nicolò</span> <a href="/wiki/Nicol%C3%B2_Zanon" title="Nicolò Zanon">Nicolò Zanon</a></b></td>
<td>Professore ordinario</td>
<td>Presidente della Repubblica</td>
<td><span style="display:none">12014-10-18</span>18&nbsp;ottobre&nbsp;2014</td>
<td><span style="display:none">12014-11-11</span>11&nbsp;novembre&nbsp;2014</td>
<td></td>
<td></td>
<td>
</td></tr>
<tr>
<td><b><span style="display:none">Sciarra, Silvana</span> <a href="/wiki/Silvana_Sciarra" title="Silvana Sciarra">Silvana Sciarra</a></b></td>
<td>Professore ordinario</td>
<td>Parlamento in seduta comune</td>
<td><span style="display:none">12014-11-06</span>6&nbsp;novembre&nbsp;2014</td>
<td><span style="display:none">12014-11-11</span>11&nbsp;novembre&nbsp;2014</td>
<td></td>
<td></td>
<td>
</td></tr>
<tr>
<td><b><span style="display:none">Modugno, Franco</span> <a href="/wiki/Franco_Modugno" title="Franco Modugno">Franco Modugno</a></b></td>
<td>Professore ordinario</td>
<td>Parlamento in seduta comune</td>
<td><span style="display:none">12015-12-16</span>16&nbsp;dicembre&nbsp;2015</td>
<td><span style="display:none">12015-12-21</span>21&nbsp;dicembre&nbsp;2015</td>
<td></td>
<td></td>
<td>
</td></tr>
<tr>
<td><b><span style="display:none">Barbera, Augusto Antonio</span> <a href="/wiki/Augusto_Antonio_Barbera" class="mw-redirect" title="Augusto Antonio Barbera">Augusto Antonio Barbera</a></b></td>
<td>Professore ordinario</td>
<td>Parlamento in seduta comune</td>
<td><span style="display:none">12015-12-16</span>16&nbsp;dicembre&nbsp;2015</td>
<td><span style="display:none">12015-12-21</span>21&nbsp;dicembre&nbsp;2015</td>
<td></td>
<td></td>
<td>
</td></tr>
<tr>
<td><b><span style="display:none">Prosperetti, Giulio</span> <a href="/wiki/Giulio_Prosperetti" title="Giulio Prosperetti">Giulio Prosperetti</a></b></td>
<td>Professore ordinario</td>
<td>Parlamento in seduta comune</td>
<td><span style="display:none">12015-12-16</span>16&nbsp;dicembre&nbsp;2015</td>
<td><span style="display:none">12015-12-21</span>21&nbsp;dicembre&nbsp;2015</td>
<td></td>
<td></td>
<td>
</td></tr>
<tr>
<td><b><span style="display:none">Amoroso, Giovanni</span> <a href="/wiki/Giovanni_Amoroso" title="Giovanni Amoroso">Giovanni Amoroso</a></b></td>
<td>Magistrato ordinario giudicante</td>
<td>Corte di cassazione</td>
<td><span style="display:none">12017-10-26</span>26&nbsp;ottobre&nbsp;2017</td>
<td><span style="display:none">12017-11-13</span>13&nbsp;novembre&nbsp;2017</td>
<td></td>
<td></td>
<td>
</td></tr>
<tr>
<td><b><span style="display:none">Viganò, Francesco</span> <a href="/wiki/Francesco_Vigan%C3%B2_(giurista)" title="Francesco Viganò (giurista)">Francesco Viganò</a></b></td>
<td>Professore ordinario</td>
<td>Presidente della Repubblica</td>
<td><span style="display:none">12018-02-24</span>24&nbsp;febbraio&nbsp;2018</td>
<td><span style="display:none">12018-03-08</span>8&nbsp;marzo&nbsp;2018</td>
<td></td>
<td></td>
<td>
</td></tr>
<tr>
<td><b><span style="display:none">Antonini, Luca</span> <a href="/wiki/Luca_Antonini_(giurista)" title="Luca Antonini (giurista)">Luca Antonini</a></b></td>
<td>Professore ordinario</td>
<td>Parlamento in seduta comune</td>
<td><span style="display:none">12018-07-19</span>19&nbsp;luglio&nbsp;2018</td>
<td><span style="display:none">12018-07-26</span>26&nbsp;luglio&nbsp;2018</td>
<td></td>
<td></td>
<td>
</td></tr></tbody>
